{% extends 'base/base.html' %}
{% block head %}
    <ul class="layui-nav ">
        <li class="layui-nav-item"><a href="">SSMUSIC</a></li>
        <li class="layui-nav-item layui-this"><a href="">发现</a></li>
        <li class="layui-nav-item"><a href="">我的音乐</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">解决方案</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">移动模块</a></dd>
                <dd><a href="">后台模版</a></dd>
                <dd><a href="">电商平台</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">社区</a></li>
        <li class=" layui-nav-item"  style="margin-left: 20px"><input type="text" placeholder="搜索你想要的歌曲" value="" class="layui-input  layui-bg-black"></li>
        <li class="layui-nav-item" style="margin-left: 20px">
            <button class="layui-btn layui-btn-primary layui-bg-black">搜索</button>
        </li>
        <li class="layui-nav-item" style="float: right;margin-right: 10%">
            <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">我的信息</a></dd>
                <dd><a href="javascript:;">设置</a></dd>
                <dd><a href="javascript:;">退出登陆</a></dd>
            </dl>
        </li>
    </ul>

    <script>
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
    {% block content %}

    {% endblock %}

{% endblock %}
